<%= form_with model: exercise do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md",
                        placeholder: "Exercise Name", autofocus: true %>
  </div>

  <div class="mb-4">
    <%= form.label :category, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :category,
        options_for_select([
          ['Push', 'Push'],
          ['Pull', 'Pull'],
          ['Legs', 'Legs'],
          ['Core', 'Core']
        ], exercise.category),
        { prompt: 'Select Category' },
        { class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md" } %>
  </div>

    <div class="mb-4">
    <%= form.label :equipment, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :equipment,
        options_for_select([
          ['Barbell', 'Barbell'],
          ['Dumbbell', 'Dumbbell'],
          ['EZ Bar', 'EZ Bar'],
          ['Machine', 'Machine'],
          ['Bodyweight', 'Bodyweight'],
          ['Cable', 'Cable']
        ], exercise.equipment),
        { prompt: 'Select Equipment' },
        { class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md" } %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :description, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md",
                       rows: 4, placeholder: "Exercise description and instructions" %>
  </div>

  <div class="mb-4">
    <%= form.submit submit_text, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  </div>
<% end %>
